@charset "utf-8";

/* Box Sizing Reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Slab', serif;
  color: black;
}

body {
  min-height: 125vh;
  background: rgb(86,204,241);
  background: linear-gradient(180deg, rgba(86,204,241,1) 0%, rgba(200,232,241,1) 100%);
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  min-height: 100vh;
  max-width: 480px;
  margin-bottom: 2rem;
}

.form-container {
  position: relative;
  min-width: 400px;
  min-height: 600px;
  display: flex;
  justify-content: center;
  background: white;
  border-radius: 1em;
  box-shadow: 10px 10px 20px 0px black;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 1rem;
}

.form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.form h2 {
  position: relative;
  color: #153C6D;
  font-size: 2.5em;
  text-shadow: 1px 2px 4px #888;
  margin-bottom: 0.7em;
}

.form h2::before {
  content: '';
  position: absolute;
  bottom: -6px;
  width: 3em;
  height: 0.1em;
  background: #153C6D;
  box-shadow: 1px 2px 4px #CCC;
}

.form label {
  font-weight: 700;
  font-size: 1.2em;
}

.form input, .form textarea, .referredby {
  width: 100%;
  outline: none;
  padding: 8px 10px;
  border-radius: 8px;
  border-style: none;
  background-color: #E8EEEF;
  font-size: 16px;
  color: black;
  margin-bottom: 1em;
  line-height: 25px;
}

.form input:focus, .form textarea:focus, .referredby:focus {
  border: 2px solid #5FCF7F;
  background-color: #E8EEEF;
}

.form input[type="submit"] {
  background-color: #5FCF7F;
  border-style: none;
  height: 45px;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  margin-top: 10px;
}

.form input[type="reset"] {
  background-color: white;
  border: 1px solid lightgray;
  outline: 1em;
  margin-bottom: 20px;
  height: 45px;
  font-size: 1.2rem;
  color: black;
}

fieldset {
  border: none;
  border-top: 0.1rem solid black;
  margin-top: 0.5rem;
}

legend {
  display: flex;
  margin-left: 1rem;
  padding: .5rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.legend-title {
  padding-top: 5px;
  padding-left: 8px;
}

.circle {
  position: relative;
  background-color: #5FCF7F;
  margin: auto;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.number {
  position: absolute;
  top: 7px;
  left: 12px;
  text-align: center;
  color: white;
  font-size: 1rem;
}

input[type='checkbox'], input[type='radio'] {
  display: inline-block;
  width: fit-content;
}

input[type='checkbox'] + label, input[type='radio'] + label {
  display: inline-block;
  width: fit-content;
  margin-right: 2rem;
  margin-top: 1rem;
}

optgroup {
  font-weight: 300;
}

option {
  font-weight: 700;
}

.hidden-input {
  display: block;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

footer {
  bottom: 0rem;
  width: 100%;
  text-align: right;
  font-size: .8rem;
  padding: 0.6rem;
}
